<h1 style="text-align: center;">manage_service()</h1>
<div>
    <form [formGroup]="p13Form" (ngSubmit)="runProcedure13()">
        <div>
            <p style="text-align: center;">
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Username:</mat-label>
                    <input matInput type="text" id="username" formControlName="username">
                    <mat-error *ngIf="this.p13Form.controls.username.hasError('required')">This input is required!</mat-error>
                    <mat-error *ngIf="this.p13Form.controls.username.hasError('maxlength')">The input size is too large!</mat-error>
                </mat-form-field>
            </p>
            <p style="text-align: center;">
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>ID:</mat-label>
                    <input matInput type="text" id="id" formControlName="id">
                    <mat-error *ngIf="this.p13Form.controls.id.hasError('required')">This input is required!</mat-error>
                    <mat-error *ngIf="this.p13Form.controls.id.hasError('maxlength')">The input size is too large!</mat-error>
                </mat-form-field>
            </p>
 
            <p style="text-align: center;">
                <button mat-flat-button type="submit" class="primary"  style="text-align: center;">Submit</button>
            </p>    
        </div>
    </form>
</div>