<h1 style="text-align: center;">CS 4400 Phase IV Team 27</h1>
<h2 style="text-align: center;">Stored Procedures</h2>
<div style="text-align: center;">
    <ul style="display: inline-block;">
        <li><a routerLink="/procedure1" routerLinkActive="active" ariaCurrentWhenActive="page">add_owner()</a></li>
    </ul>

    <ul style="display: inline-block;">
        <li><a routerLink="/procedure2" routerLinkActive="active" ariaCurrentWhenActive="page">add_employee()</a></li>
    </ul>

    <ul style="display: inline-block;">
        <li><a routerLink="/procedure3" routerLinkActive="active" ariaCurrentWhenActive="page">add_driver_role()</a></li>
    </ul>

    <ul style="display: inline-block;">
        <li><a routerLink="/procedure4" routerLinkActive="active" ariaCurrentWhenActive="page">add_worker_role()</a></li>
    </ul>

    <ul style="display: inline-block;">
        <li><a routerLink="/procedure5" routerLinkActive="active" ariaCurrentWhenActive="page">add_product()</a></li>
    </ul>
    <ul style="display: inline-block;">
        <li><a routerLink="/procedure6" routerLinkActive="active" ariaCurrentWhenActive="page">add_van()</a></li>
    </ul>

    <ul style="display: inline-block;">
        <li><a routerLink="/procedure7" routerLinkActive="active" ariaCurrentWhenActive="page">add_business()</a></li>
    </ul>

    <ul style="display: inline-block;">
        <li><a routerLink="/procedure8" routerLinkActive="active" ariaCurrentWhenActive="page">add_service()</a></li>
    </ul>

    <ul style="display: inline-block;">
        <li><a routerLink="/procedure9" routerLinkActive="active" ariaCurrentWhenActive="page">add_location()</a></li>
    </ul>

    <ul style="display: inline-block;">
        <li><a routerLink="/procedure11" routerLinkActive="active" ariaCurrentWhenActive="page">hire_employee()</a></li>
    </ul>
    <ul style="display: inline-block;">
        <li><a routerLink="/procedure12" routerLinkActive="active" ariaCurrentWhenActive="page">fire_employee()</a></li>
    </ul>

    <ul style="display: inline-block;">
        <li><a routerLink="/procedure10" routerLinkActive="active" ariaCurrentWhenActive="page">start_funding()</a></li>
    </ul>

    <ul style="display: inline-block;">
        <li><a routerLink="/procedure13" routerLinkActive="active" ariaCurrentWhenActive="page">manage_service()</a></li>
    </ul>

    <ul style="display: inline-block;">
        <li><a routerLink="/procedure14" routerLinkActive="active" ariaCurrentWhenActive="page">takeover_van()</a></li>
    </ul>

    <ul style="display: inline-block;">
        <li><a routerLink="/procedure15" routerLinkActive="active" ariaCurrentWhenActive="page">load_van()</a></li>
    </ul>
    <ul style="display: inline-block;">
        <li><a routerLink="/procedure16" routerLinkActive="active" ariaCurrentWhenActive="page">refuel_van()</a></li>
    </ul>

    <ul style="display: inline-block;">
        <li><a routerLink="/procedure17" routerLinkActive="active" ariaCurrentWhenActive="page">drive_van()</a></li>
    </ul>

    <ul style="display: inline-block;">
        <li><a routerLink="/procedure18" routerLinkActive="active" ariaCurrentWhenActive="page">purchase_product()</a></li>
    </ul>

    <ul style="display: inline-block;">
        <li><a routerLink="/procedure19" routerLinkActive="active" ariaCurrentWhenActive="page">remove_product()</a></li>
    </ul>

    <ul style="display: inline-block;">
        <li><a routerLink="/procedure20" routerLinkActive="active" ariaCurrentWhenActive="page">remove_van()</a></li>
    </ul>


    <ul style="display: inline-block;">
        <li><a routerLink="/procedure21" routerLinkActive="active" ariaCurrentWhenActive="page">remove_driver_role()</a></li>
    </ul>
    
</div > 
    <h2 style="text-align: center;">Views</h2>
    <div style="text-align: center;">
    <ul style="display: inline-block; ">
        <li><a routerLink="/view1" routerLinkActive="active" ariaCurrentWhenActive="page">display_owner_view()</a></li>
    </ul>

    <ul style="display: inline-block;">
        <li><a routerLink="/view2" routerLinkActive="active" ariaCurrentWhenActive="page">display_employee_view()</a></li>
    </ul>

    <ul style="display: inline-block;">
        <li><a routerLink="/view3" routerLinkActive="active" ariaCurrentWhenActive="page">display_driver_view()</a></li>
    </ul>

    <ul style="display: inline-block;">
        <li><a routerLink="/view4" routerLinkActive="active" ariaCurrentWhenActive="page">display_location_view()</a></li>
    </ul>

    <ul style="display: inline-block;">
        <li><a routerLink="/view5" routerLinkActive="active" ariaCurrentWhenActive="page">display_product_view()</a></li>
    </ul>

    <ul style="display: inline-block;">
        <li><a routerLink="/view6" routerLinkActive="active" ariaCurrentWhenActive="page">display_service_view()</a></li>
    </ul>
</div>
<router-outlet></router-outlet>
