<h1 style="text-align: center;">drive_van()</h1>
<div>
    <form [formGroup]="p17Form" (ngSubmit)="runProcedure17()">
        <div>
            <p style="text-align: center;">
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>ID:</mat-label>
                    <input matInput type="text" id="id" formControlName="id">
                    <mat-error *ngIf="this.p17Form.controls.id.hasError('required')">This input is required!</mat-error>
                    <mat-error *ngIf="this.p17Form.controls.id.hasError('maxlength')">The input size is too large!</mat-error>
                </mat-form-field>
            </p>
            <p style="text-align: center;">
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Tag:</mat-label>
                    <input matInput type="number" id="tag" formControlName="tag">
                    <mat-error *ngIf="this.p17Form.controls.tag.hasError('required')">This input is required!</mat-error>
                </mat-form-field>
            </p>
            <p style="text-align: center;">
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Destination:</mat-label>
                    <input matInput type="text" id="destination" formControlName="destination">
                    <mat-error *ngIf="this.p17Form.controls.destination.hasError('required')">This input is required!</mat-error>
                    <mat-error *ngIf="this.p17Form.controls.destination.hasError('maxlength')">The input size is too large!</mat-error>
                </mat-form-field>
            </p>
 
            <p style="text-align: center;">
                <button mat-flat-button type="submit" class="primary"  style="text-align: center;">Submit</button>
            </p>    
        </div>
    </form>
</div>