<h1 style="text-align: center;">add_driver_role()</h1>
<div>
    <form [formGroup]="p3Form" (ngSubmit)="runProcedure3()">
        <div>
            <p style="text-align: center;">
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Username:</mat-label>
                    <input matInput type="text" id="username" formControlName="username">
                    <mat-error *ngIf="this.p3Form.controls.username.hasError('required')">This input is required!</mat-error>
                    <mat-error *ngIf="this.p3Form.controls.username.hasError('maxlength')">The input size is too large!</mat-error>
                </mat-form-field>
            </p>
            <p style="text-align: center;">
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>License ID:</mat-label>
                    <input matInput type="text" id="licenseID" formControlName="licenseID">
                    <mat-error *ngIf="this.p3Form.controls.licenseID.hasError('required')">This input is required!</mat-error>
                    <mat-error *ngIf="this.p3Form.controls.licenseID.hasError('maxlength')">The input size is too large!</mat-error>
                </mat-form-field>
            </p>
            <p style="text-align: center;">
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>License Type:</mat-label>
                    <input matInput type="text" id="licenseType" formControlName="licenseType">
                    <mat-error *ngIf="this.p3Form.controls.licenseType.hasError('required')">This input is required!</mat-error>
                    <mat-error *ngIf="this.p3Form.controls.licenseType.hasError('maxlength')">The input size is too large!</mat-error>
                </mat-form-field>
            </p>
            <p style="text-align: center;">
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Experience:</mat-label>
                    <input matInput type="number" id="experience" formControlName="experience"><br>
                    <mat-error *ngIf="this.p3Form.controls.experience.hasError('required')">This input is required!</mat-error>
            
                </mat-form-field>
            </p>
            <p style="text-align: center;">
                <button mat-flat-button type="submit" class="primary"  style="text-align: center;">Submit</button>
            </p>    
        </div>
    </form>
</div>